@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

/* LAYOUT STYLES */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;
  background: $bg-color url(/img/theme/body-bg.jpg) 0 0 repeat;
}

p {
  margin-top: 0;
}

a {
  color: $medium-blue;
}
a:hover {
  color: $dark-blue;
}

header {
  padding-top: $large-vertical-space;
  padding-bottom: $large-vertical-space;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: $header-bg url(/img/theme/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px $header-border;

  #logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border: solid 2px $header-text;
    border-radius: 10px;
  }

  h1 {
    width: $header-width-monitor;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 72px;
    font-weight: normal;
    line-height: 1;
    color: $header-text;
    letter-spacing: -1px;
  }

  h2 {
    width: $header-width-monitor;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.3;
    color: $light-blue;
    letter-spacing: 0;
  }

  a.button {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent url(/img/theme/github-button.png) 0 0 no-repeat;
    width: 134px;
    height: 58px;
    padding-top: 22px;
    padding-left: 68px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 23px;
    line-height: 1.2;
    color: $bright-white;

    small {
      display: block;
      font-size: 11px;
    }
  }
}

.inner {
  position: relative;
  width: $content-width-monitor;
  margin: 0 auto;
}

#content-wrapper {
  padding-top: $medium-vertical-space;
  border-top: solid 1px $bright-white;
}

#main-content {
  width: 100%;

  img {
    max-width: 100%;
  }
}

.error-page {
  min-height: 1000px;

  p {
    font-size: 21px;
    margin-top: $medium-vertical-space;
  }
}

footer {
  color: $medium-grey;
  font-size: 12px;
  line-height: 1.3;
  margin-top: $large-vertical-space;
  padding-top: $small-vertical-space;
  padding-bottom: $medium-vertical-space;
  border-top: solid 1px $light-grey;

  a {
    color: $text-color;

    &:hover {
      color: $dark-grey;
    }
  }

  p.repo-owner,
  p.repo-owner a {
    font-weight: bold;
  }
}

aside {
  a.button {
    display: block;
    width: 138px;
    padding-left: 64px;
    margin-bottom: $small-vertical-space;
    font-size: 21px;
    background: transparent url(/img/theme/download-button.png) 0 0 no-repeat;
  }
}

code, pre {
  margin-bottom: $medium-vertical-space;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 13px;
  color: $darkest-grey;
}

code {
  padding: 0 $tiny-horizontal-space;
  background-color: $code-bg;
  border: solid 1px $code-border;
}

pre {
  padding: $small-vertical-space $small-horizontal-space;
  overflow: auto;
  text-shadow: none;
  background: $code-bg;
  border: solid 1px $code-border;

  code {
    padding: 0;
    color: $medium-blue;
    background-color: $code-bg;
    border: none;
  }
}


/* COMMON STYLES */

ul, ol, dl {
  margin-bottom: $small-vertical-space;
}

hr {
  height: 0;
  margin-top: $small-vertical-space;
  margin-bottom: $small-vertical-space;
  border: 0;
  border-top: solid 1px $light-grey;
}

table {
  width: 100%;
  border: 1px solid $lightest-grey;
  background-color: $table-bg;
}

td, th {
  padding: $tiny-vertical-space $tiny-horizontal-space;
}

th {
  font-weight: bold;
  white-space: nowrap;
}

td {
  font-weight: 300;
  text-align: center;
  border: 1px solid $lightest-grey;
}

form {
  padding: $small-vertical-space $small-horizontal-space;
  background: $off-white;

}


/* GENERAL ELEMENT TYPE STYLES */

#main-content {
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 2.8em;
    font-weight: normal;
    color: $heading-color;
    text-indent: 6px;
    letter-spacing: -1px;

    &:before {
      padding-right: 0.3em;
      margin-left: -0.9em;
      color: $heading-border;
      content: "/";
    }
  }

  h2 {
    margin-bottom: 8px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 22px;
    font-weight: bold;
    color: $heading-color;
    text-indent: 4px;

    &:before {
      padding-right: 0.3em;
      margin-left: -1.5em;
      content: "//";
      color: $heading-border;
    }
  }

  h3 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 18px;
    font-weight: bold;
    color: $heading-color;
    text-indent: 3px;

    &:before {
      padding-right: 0.3em;
      margin-left: -2em;
      content: "///";
      color: $heading-border;
    }
  }

  h4 {
    margin-bottom: 8px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 17px;
    font-weight: bold;
    color: $heading-color;
    text-indent: 3px;

    &:before {
      padding-right: 0.3em;
      margin-left: -2.8em;
      content: "////";
      color: $heading-border;
    }
  }

  h5 {
    margin-bottom: 8px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 15px;
    color: $heading-color;
    text-indent: 3px;

    &:before {
      padding-right: 0.3em;
      margin-left: -3.2em;
      content: "/////";
      color: $heading-border;
    }
  }

  h6 {
    margin-bottom: 8px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: .8em;
    color: $heading-color;
    text-indent: 3px;

    &:before {
      padding-right: 0.3em;
      margin-left: -3.7em;
      content: "//////";
      color: $heading-border;
    }
  }
}

p {
  margin-bottom: $small-vertical-space;
}

a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  padding: 0 0 0 $large-horizontal-space;
  margin-bottom: $small-vertical-space;
  font-size: 15px;
  border-left: 10px solid $lightest-grey;
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: $small-horizontal-space;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: $small-horizontal-space;
}

dl dd {
  font-style: italic;
  font-weight: 100;
}

/* MISC */
.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '.';
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) { }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .inner {
    width: $content-width-tablet;
  }

  header {
    h1, h2 {
      width: $header-width-tablet;
    }
    h1 {
      font-size: 60px;
    }
    h2 {
      font-size: 30px;
    }
  }

  #main-content {
    h1:before,
    h2:before,
    h3:before,
    h4:before,
    h5:before,
    h6:before {
      padding-right: 0;
      margin-left: 0;
      content: none;
    }
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .inner {
    width: $content-width-phone;
  }

  header {
    padding: $small-vertical-space 0;

    .inner {
      position: relative;
    }

    h1, h2 {
      width: $header-width-phone;
    }
    h1 {
      font-size: 48px;
    }
    h2 {
      font-size: 24px;
    }

    a.button {
      position: relative;
      display: inline-block;
      width: auto;
      height: auto;
      padding: 5px 10px;
      margin-top: 15px;
      font-size: 13px;
      line-height: 1;
      color: $medium-blue;
      text-align: center;
      background-color: $light-blue;
      background-image: none;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;

      small {
        display: inline;
        font-size: 13px;
      }
    }
  }

  #main-content {
    h1:before,
    h2:before,
    h3:before,
    h4:before,
    h5:before,
    h6:before {
      padding-right: 0;
      margin-left: 0;
      content: none;
    }
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) { }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) { }
