aside {
  a.button {
    display: block;
    width: 138px;
    padding-left: 64px;
    margin-bottom: $small-vertical-space;
    font-size: 21px;
    background: transparent url(/img/theme/download-button.png) 0 0 no-repeat;
  }
}
