// Named Colors
// ===============================
$dark-blue: #2268b2;
$medium-blue: #2879d0;
$light-blue: #9ddcff;

$darkest-grey: #222;
$dark-grey: #444;
$medium-grey: #aaa;
$light-grey: #ddd;
$lightest-grey: #ebebeb;

$off-white: #f2f2f2;
$bright-white: #fff;

$text-color: #666;
$bg-color: #fafafa;


// Standard Sizes
// ===============================
$content-width-monitor: 940px;
$content-width-tablet: 740px;
$content-width-phone: 93%;

$large-vertical-space: 40px;
$medium-vertical-space: 30px;
$small-vertical-space: 20px;
$tiny-vertical-space: 3px;

$large-horizontal-space: 30px;
$small-horizontal-space: 20px;
$tiny-horizontal-space: 5px;


// Headings (H1, H2, ... H6)
// ===============================
$heading-color: #474747;
$heading-border: $light-blue;


// Site Header
// ===============================
$header-bg: #2e7bcf;
$header-border: #275da1;
$header-text: $bright-white;

$header-width-monitor: 540px;
$header-width-tablet: 340px;
$header-width-phone: 100%;


// Code Samples
// ===============================
$code-bg: $bright-white;
$code-border: $off-white;


// Tables
// ===============================
$table-bg: $bright-white;
